In [2]:
with open('Key.txt') as f:
    key = f.read()

In [2]:
#"We are pleased to provide free stock API service for our global community of users for up to 5 API requests per minute and 500 requests per day." 
#https://algotrading101.com/learn/alpha-vantage-guide/
#https://www.alphavantage.co/documentation/

#!pip install alpha_vantage

Collecting alpha_vantage
  Downloading alpha_vantage-2.3.1-py3-none-any.whl (31 kB)
Collecting aiohttp
  Downloading aiohttp-3.7.4.post0-cp37-cp37m-win_amd64.whl (630 kB)
Requirement already satisfied: requests in c:\users\maltanno\anaconda3\lib\site-packages (from alpha_vantage) (2.25.1)
Collecting multidict<7.0,>=4.5
  Downloading multidict-5.1.0-cp37-cp37m-win_amd64.whl (48 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.6.3-cp37-cp37m-win_amd64.whl (124 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\users\maltanno\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (20.3.0)
Requirement already satisfied: chardet<5.0,>=2.0 in c:\users\maltanno\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (4.0.0)
Collecting async-timeout<4.0,>=3.0
  Downloading async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\maltanno\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: idna>=2.0 in c:\users\maltanno\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp->alpha_vantage) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\maltanno\anaconda3\lib\site-packages (from requests->alpha_vantage) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\maltanno\anaconda3\lib\site-packages (from requests->alpha_vantage) (2020.12.5)
Installing collected packages: multidict, yarl, async-timeout, aiohttp, alpha-vantage
Successfully installed aiohttp-3.7.4.post0 alpha-vantage-2.3.1 async-timeout-3.0.1 multidict-5.1.0 yarl-1.6.3

In [3]:
import pandas as pd
import time


from alpha_vantage.timeseries import TimeSeries as TS

In [4]:
ts = TS(key, output_format='pandas')

In [33]:
ocdo = ts.get_daily_adjusted('OCDO.LON', outputsize='full')

In [79]:
ocdo[0]

{'1. Information': 'Daily Time Series with Splits and Dividend Events',
 '2. Symbol': 'OCDO.LON',
 '3. Last Refreshed': '2021-03-19',
 '4. Output Size': 'Full size',
 '5. Time Zone': 'US/Eastern'}

In [5]:
# list from: https://www.nasdaq.com/market-activity/stocks/screener
idf = pd.read_csv('nasdaq_screener_1616319945743.csv')
idf.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$122.69,0.10,0.082%,3.738334e+10,United States,1999.0,2596984,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$31.14,-0.05,-0.16%,5.799872e+09,NaN,2016.0,6933486,Basic Industries,Aluminum
2,AAIC,Arlington Asset Investment Corp Class A (new),$3.96,-0.08,-1.98%,1.322809e+08,United States,NaN,481198,Consumer Services,Real Estate Investment Trusts
3,AAIC^B,Arlington Asset Investment Corp 7.00%,$23.275,0.29,1.262%,NaN,United States,NaN,2473,NaN,NaN
4,AAIC^C,Arlington Asset Investment Corp 8.250% Seies C...,$22.3601,-0.04,-0.179%,NaN,United States,NaN,9869,NaN,NaN

In [6]:
syms = idf.Symbol

In [7]:
data = []
errors = []

In [97]:
for sym in syms[:500]:
    try:
        d = ts.get_daily_adjusted(sym, outputsize='full')
        data.append(d)
    except:
        errors.append(sym)
    time.sleep(20)

In [8]:
errors

[]

In [9]:
len(data)

0

In [10]:
idf.head(10)

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$122.69,0.10,0.082%,3.738334e+10,United States,1999.0,2596984,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$31.14,-0.05,-0.16%,5.799872e+09,NaN,2016.0,6933486,Basic Industries,Aluminum
2,AAIC,Arlington Asset Investment Corp Class A (new),$3.96,-0.08,-1.98%,1.322809e+08,United States,NaN,481198,Consumer Services,Real Estate Investment Trusts
3,AAIC^B,Arlington Asset Investment Corp 7.00%,$23.275,0.29,1.262%,NaN,United States,NaN,2473,NaN,NaN
4,AAIC^C,Arlington Asset Investment Corp 8.250% Seies C...,$22.3601,-0.04,-0.179%,NaN,United States,NaN,9869,NaN,NaN
5,AAN,Aarons Holdings Company Inc. Common Stock,$25.86,-0.20,-0.767%,8.845390e+08,United States,2020.0,658551,Technology,Diversified Commercial Services
6,AAP,Advance Auto Parts Inc Advance Auto Parts Inc W/I,$186.00,2.27,1.236%,1.218754e+10,United States,NaN,1818866,Consumer Services,Other Specialty Stores
7,AAT,American Assets Trust Inc. Common Stock,$33.75,-1.08,-3.101%,2.040980e+09,United States,2011.0,766077,Consumer Services,Real Estate Investment Trusts
8,AB,AllianceBernstein Holding L.P. Units,$42.36,0.87,2.097%,4.160724e+09,United States,NaN,651721,Finance,Investment Managers
9,ABB,ABB Ltd Common Stock,$31.36,0.51,1.653%,6.368696e+10,Switzerland,NaN,2822876,Consumer Durables,Electrical Products

In [11]:
idf.Symbol[0]

'A'

In [12]:
syms = idf.Symbol[idf.Symbol.map(lambda x: '^' not in x and '/' not in x)]
syms = syms.reset_index().drop('index', axis=1)

In [43]:
lastsym = data[-1][1]['2. Symbol']
lastsym

'TRGP'

In [44]:
print(len(syms))
syms[syms.Symbol == lastsym]

2577

     Symbol
2323   TRGP

In [105]:
for sym in syms.Symbol[0:500]:
    try:
        d = ts.get_daily_adjusted(sym, outputsize='full')
        data.append(d)
    except:
        errors.append(sym)
    time.sleep(12)

In [106]:
print(len(errors))
print(len(data))

37
1252

In [50]:
len(d[0])

985

In [204]:
data[0][0]

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2021-03-19,122.87,123.500,121.51,122.69,122.690000,2596984.0,0.0,1.0
2021-03-18,123.60,123.940,122.13,122.59,122.590000,2067597.0,0.0,1.0
2021-03-17,122.34,123.110,121.50,122.52,122.520000,1452950.0,0.0,1.0
2021-03-16,124.75,125.305,122.45,123.00,123.000000,1345485.0,0.0,1.0
2021-03-15,120.92,124.280,120.34,124.04,124.040000,1229988.0,0.0,1.0
...,...,...,...,...,...,...,...,...
1999-11-24,40.13,41.940,40.00,41.06,27.202397,3464400.0,0.0,1.0
1999-11-23,42.50,43.630,40.25,40.25,26.665769,4274400.0,0.0,1.0
1999-11-22,41.31,44.000,40.06,44.00,29.150158,4705200.0,0.0,1.0
1999-11-19,42.94,43.000,39.81,40.38,26.751895,10897100.0,0.0,1.0
1999-11-18,45.50,50.000,40.00,44.00,29.150158,44739900.0,0.0,1.0

In [107]:
ddf = data[0][0].copy()
ddf.columns = [[data[0][1]['2. Symbol']] * len(ddf.columns), ddf.columns]
errors2 = []

for df in data[1:]:
    ddf2 = df[0].copy()
    ddf2.columns = [[df[1]['2. Symbol']] * len(ddf2.columns), ddf2.columns]
    try:
        ddf = ddf.join(ddf2, how='outer')
    except ValueError:
        errors2.append(df[1]['2. Symbol'])
ddf.head()

               PEG                                                      \
           1. open 2. high 3. low 4. close 5. adjusted close 6. volume
date
1999-11-01   39.38   39.50  38.88    39.25          7.926437  271400.0
1999-11-02   39.19   39.81  39.19    39.50          7.976924  206500.0
1999-11-03   39.38   39.44  39.06    39.38          7.952691  293000.0
1999-11-04   39.31   39.63  38.63    39.00          7.875951  331700.0
1999-11-05   38.75   39.31  38.75    39.00          7.875951  287400.0

                                                       PEI          ...  \
           7. dividend amount 8. split coefficient 1. open 2. high  ...
date                                                                ...
1999-11-01                0.0                  1.0   18.69   18.69  ...
1999-11-02                0.0                  1.0   18.38   18.56  ...
1999-11-03                0.0                  1.0   18.50   18.81  ...
1999-11-04                0.0                  1.0   18.81   18.81  ...
1999-11-05                0.0                  1.0   18.56   18.81  ...

                         CLII                         CLIM                 \
           7. dividend amount 8. split coefficient 1. open 2. high 3. low
date
1999-11-01                NaN                  NaN     NaN     NaN    NaN
1999-11-02                NaN                  NaN     NaN     NaN    NaN
1999-11-03                NaN                  NaN     NaN     NaN    NaN
1999-11-04                NaN                  NaN     NaN     NaN    NaN
1999-11-05                NaN                  NaN     NaN     NaN    NaN

                                                                    \
           4. close 5. adjusted close 6. volume 7. dividend amount
date
1999-11-01      NaN               NaN       NaN                NaN
1999-11-02      NaN               NaN       NaN                NaN
1999-11-03      NaN               NaN       NaN                NaN
1999-11-04      NaN               NaN       NaN                NaN
1999-11-05      NaN               NaN       NaN                NaN


           8. split coefficient
date
1999-11-01                  NaN
1999-11-02                  NaN
1999-11-03                  NaN
1999-11-04                  NaN
1999-11-05                  NaN

[5 rows x 10000 columns]

In [104]:
#
ddf0 = pd.read_csv('data.csv', header=[0,1], index_col=0)
ddf0.head()

               PEG                                                      \
           1. open 2. high 3. low 4. close 5. adjusted close 6. volume
date
1999-11-01   39.38   39.50  38.88    39.25          7.926437  271400.0
1999-11-02   39.19   39.81  39.19    39.50          7.976924  206500.0
1999-11-03   39.38   39.44  39.06    39.38          7.952691  293000.0
1999-11-04   39.31   39.63  38.63    39.00          7.875951  331700.0
1999-11-05   38.75   39.31  38.75    39.00          7.875951  287400.0

                                                       PEI          ...  \
           7. dividend amount 8. split coefficient 1. open 2. high  ...
date                                                                ...
1999-11-01                0.0                  1.0   18.69   18.69  ...
1999-11-02                0.0                  1.0   18.38   18.56  ...
1999-11-03                0.0                  1.0   18.50   18.81  ...
1999-11-04                0.0                  1.0   18.81   18.81  ...
1999-11-05                0.0                  1.0   18.56   18.81  ...

                          ZUO                         ZYME                 \
           7. dividend amount 8. split coefficient 1. open 2. high 3. low
date
1999-11-01                NaN                  NaN     NaN     NaN    NaN
1999-11-02                NaN                  NaN     NaN     NaN    NaN
1999-11-03                NaN                  NaN     NaN     NaN    NaN
1999-11-04                NaN                  NaN     NaN     NaN    NaN
1999-11-05                NaN                  NaN     NaN     NaN    NaN

                                                                    \
           4. close 5. adjusted close 6. volume 7. dividend amount
date
1999-11-01      NaN               NaN       NaN                NaN
1999-11-02      NaN               NaN       NaN                NaN
1999-11-03      NaN               NaN       NaN                NaN
1999-11-04      NaN               NaN       NaN                NaN
1999-11-05      NaN               NaN       NaN                NaN


           8. split coefficient
date
1999-11-01                  NaN
1999-11-02                  NaN
1999-11-03                  NaN
1999-11-04                  NaN
1999-11-05                  NaN

[5 rows x 6008 columns]

In [52]:
add_cols = [col for col in ddf.columns if col not in ddf0.columns]
ddf_save = ddf0.join(ddf[add_cols], how='outer')
ddf_save.head()

                          A                                            \
                    1. open 2. high 3. low 4. close 5. adjusted close
date
1999-11-01 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-02 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-03 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-04 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-05 00:00:00     NaN     NaN    NaN      NaN               NaN

                                                                           AA  \
                    6. volume 7. dividend amount 8. split coefficient 1. open
date
1999-11-01 00:00:00       NaN                NaN                  NaN     NaN
1999-11-02 00:00:00       NaN                NaN                  NaN     NaN
1999-11-03 00:00:00       NaN                NaN                  NaN     NaN
1999-11-04 00:00:00       NaN                NaN                  NaN     NaN
1999-11-05 00:00:00       NaN                NaN                  NaN     NaN

                             ...                ZUO                       \
                    2. high  ... 7. dividend amount 8. split coefficient
date                         ...
1999-11-01 00:00:00     NaN  ...                NaN                  NaN
1999-11-02 00:00:00     NaN  ...                NaN                  NaN
1999-11-03 00:00:00     NaN  ...                NaN                  NaN
1999-11-04 00:00:00     NaN  ...                NaN                  NaN
1999-11-05 00:00:00     NaN  ...                NaN                  NaN

                       ZYME                                            \
                    1. open 2. high 3. low 4. close 5. adjusted close
date
1999-11-01 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-02 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-03 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-04 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-05 00:00:00     NaN     NaN    NaN      NaN               NaN


                    6. volume 7. dividend amount 8. split coefficient
date
1999-11-01 00:00:00       NaN                NaN                  NaN
1999-11-02 00:00:00       NaN                NaN                  NaN
1999-11-03 00:00:00       NaN                NaN                  NaN
1999-11-04 00:00:00       NaN                NaN                  NaN
1999-11-05 00:00:00       NaN                NaN                  NaN

[5 rows x 20544 columns]

In [102]:
ddf_save.to_csv('data2.csv')

In [103]:
ddf.to_csv('data.csv')

In [53]:
errors2

['TJX', 'TRGP']

In [75]:
d = ts.get_daily_adjusted('ZYME', outputsize='full')
d

(            1. open  2. high  3. low  4. close  5. adjusted close  6. volume  \
 date
 2021-03-26    32.70  32.8100   31.34     32.21              32.21   239177.0
 2021-03-25    31.22  32.8400   30.77     32.66              32.66   225177.0
 2021-03-24    34.08  34.5533   31.68     31.69              31.69   325837.0
 2021-03-23    35.25  35.2500   33.56     33.76              33.76   339973.0
 2021-03-22    35.32  36.0200   34.40     35.42              35.42   255310.0
 ...             ...      ...     ...       ...                ...        ...
 2017-05-04    13.34  13.5000   13.00     13.11              13.11    33256.0
 2017-05-03    13.10  13.3952   13.10     13.28              13.28    40809.0
 2017-05-02    13.00  13.1920   13.00     13.10              13.10    68578.0
 2017-05-01    13.20  13.2000   13.00     13.07              13.07    97009.0
 2017-04-28    13.50  14.2500   13.00     13.00              13.00   953887.0

             7. dividend amount  8. split coefficient
 date
 2021-03-26                 0.0                   1.0
 2021-03-25                 0.0                   1.0
 2021-03-24                 0.0                   1.0
 2021-03-23                 0.0                   1.0
 2021-03-22                 0.0                   1.0
 ...                        ...                   ...
 2017-05-04                 0.0                   1.0
 2017-05-03                 0.0                   1.0
 2017-05-02                 0.0                   1.0
 2017-05-01                 0.0                   1.0
 2017-04-28                 0.0                   1.0

 [985 rows x 8 columns],
 {'1. Information': 'Daily Time Series with Splits and Dividend Events',
  '2. Symbol': 'ZYME',
  '3. Last Refreshed': '2021-03-26',
  '4. Output Size': 'Full size',
  '5. Time Zone': 'US/Eastern'})

In [79]:
ddf_save.tail()

                          A                                            \
                    1. open 2. high 3. low 4. close 5. adjusted close
date
2021-03-22 00:00:00     NaN     NaN    NaN      NaN               NaN
2021-03-23              NaN     NaN    NaN      NaN               NaN
2021-03-23 00:00:00     NaN     NaN    NaN      NaN               NaN
2021-03-23 00:00:00     NaN     NaN    NaN      NaN               NaN
2021-03-24 00:00:00     NaN     NaN    NaN      NaN               NaN

                                                                           AA  \
                    6. volume 7. dividend amount 8. split coefficient 1. open
date
2021-03-22 00:00:00       NaN                NaN                  NaN     NaN
2021-03-23                NaN                NaN                  NaN     NaN
2021-03-23 00:00:00       NaN                NaN                  NaN     NaN
2021-03-23 00:00:00       NaN                NaN                  NaN     NaN
2021-03-24 00:00:00       NaN                NaN                  NaN     NaN

                             ...                ZUO                       \
                    2. high  ... 7. dividend amount 8. split coefficient
date                         ...
2021-03-22 00:00:00     NaN  ...                NaN                  NaN
2021-03-23              NaN  ...                NaN                  NaN
2021-03-23 00:00:00     NaN  ...                NaN                  NaN
2021-03-23 00:00:00     NaN  ...                NaN                  NaN
2021-03-24 00:00:00     NaN  ...                NaN                  NaN

                       ZYME                                            \
                    1. open 2. high 3. low 4. close 5. adjusted close
date
2021-03-22 00:00:00     NaN     NaN    NaN      NaN               NaN
2021-03-23              NaN     NaN    NaN      NaN               NaN
2021-03-23 00:00:00     NaN     NaN    NaN      NaN               NaN
2021-03-23 00:00:00     NaN     NaN    NaN      NaN               NaN
2021-03-24 00:00:00     NaN     NaN    NaN      NaN               NaN


                    6. volume 7. dividend amount 8. split coefficient
date
2021-03-22 00:00:00       NaN                NaN                  NaN
2021-03-23                NaN                NaN                  NaN
2021-03-23 00:00:00       NaN                NaN                  NaN
2021-03-23 00:00:00       NaN                NaN                  NaN
2021-03-24 00:00:00       NaN                NaN                  NaN

[5 rows x 20544 columns]

In [94]:
ddf.isna().sum().max()

5378

In [95]:
ddf.columns[ddf.isna().sum() == 5378]

MultiIndex([('TUYA',              '1. open'),
            ('TUYA',              '2. high'),
            ('TUYA',               '3. low'),
            ('TUYA',             '4. close'),
            ('TUYA',    '5. adjusted close'),
            ('TUYA',            '6. volume'),
            ('TUYA',   '7. dividend amount'),
            ('TUYA', '8. split coefficient'),
            ( 'VEI',              '1. open'),
            ( 'VEI',              '2. high'),
            ( 'VEI',               '3. low'),
            ( 'VEI',             '4. close'),
            ( 'VEI',    '5. adjusted close'),
            ( 'VEI',            '6. volume'),
            ( 'VEI',   '7. dividend amount'),
            ( 'VEI', '8. split coefficient')],
           )

In [81]:
ddf.shape

(5385, 6008)

In [78]:
ddf_save.shape

(21532, 20544)

In [ ]:
ddf

In [82]:
ddf0.shape

(16147, 14536)

In [84]:
ddf0.tail(20)

                          A                                               \
                    1. open  2. high   3. low 4. close 5. adjusted close
date
2021-03-10           120.59  122.210  119.685   119.99            119.99
2021-03-10 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-11           121.42  122.920  120.900   121.83            121.83
2021-03-11 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-12           120.57  122.030  119.280   121.44            121.44
2021-03-12 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-15           120.92  124.280  120.340   124.04            124.04
2021-03-15 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-16           124.75  125.305  122.450   123.00            123.00
2021-03-16 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-17           122.34  123.110  121.500   122.52            122.52
2021-03-17 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-18           123.60  123.940  122.130   122.59            122.59
2021-03-18 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-19           122.87  123.500  121.510   122.69            122.69
2021-03-19 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-22              NaN      NaN      NaN      NaN               NaN
2021-03-22 00:00:00     NaN      NaN      NaN      NaN               NaN
2021-03-23              NaN      NaN      NaN      NaN               NaN
2021-03-23 00:00:00     NaN      NaN      NaN      NaN               NaN

                                                                        \
                     6. volume 7. dividend amount 8. split coefficient
date
2021-03-10           1934557.0                0.0                  1.0
2021-03-10 00:00:00        NaN                NaN                  NaN
2021-03-11           1818696.0                0.0                  1.0
2021-03-11 00:00:00        NaN                NaN                  NaN
2021-03-12           1368747.0                0.0                  1.0
2021-03-12 00:00:00        NaN                NaN                  NaN
2021-03-15           1229988.0                0.0                  1.0
2021-03-15 00:00:00        NaN                NaN                  NaN
2021-03-16           1345485.0                0.0                  1.0
2021-03-16 00:00:00        NaN                NaN                  NaN
2021-03-17           1452950.0                0.0                  1.0
2021-03-17 00:00:00        NaN                NaN                  NaN
2021-03-18           2067597.0                0.0                  1.0
2021-03-18 00:00:00        NaN                NaN                  NaN
2021-03-19           2596984.0                0.0                  1.0
2021-03-19 00:00:00        NaN                NaN                  NaN
2021-03-22                 NaN                NaN                  NaN
2021-03-22 00:00:00        NaN                NaN                  NaN
2021-03-23                 NaN                NaN                  NaN
2021-03-23 00:00:00        NaN                NaN                  NaN

                         AA           ...               PEAK  \
                    1. open  2. high  ... 7. dividend amount
date                                  ...
2021-03-10            30.34  32.4200  ...                NaN
2021-03-10 00:00:00     NaN      NaN  ...                NaN
2021-03-11            32.30  32.8717  ...                NaN
2021-03-11 00:00:00     NaN      NaN  ...                NaN
2021-03-12            31.89  32.4800  ...                NaN
2021-03-12 00:00:00     NaN      NaN  ...                NaN
2021-03-15            31.45  31.6800  ...                NaN
2021-03-15 00:00:00     NaN      NaN  ...                NaN
2021-03-16            30.75  30.7850  ...                NaN
2021-03-16 00:00:00     NaN      NaN  ...                NaN
2021-03-17            30.17  31.8100  ...                NaN
2021-03-17 00:00:00     NaN      NaN  ...                NaN
2021-03-18            31.66  33.4495  ...                NaN
2021-03-18 00:00:00     NaN      NaN  ...                NaN
2021-03-19            31.13  31.6200  ...                NaN
2021-03-19 00:00:00     NaN      NaN  ...                NaN
2021-03-22              NaN      NaN  ...                NaN
2021-03-22 00:00:00     NaN      NaN  ...                NaN
2021-03-23              NaN      NaN  ...                NaN
2021-03-23 00:00:00     NaN      NaN  ...                NaN

                                             PEB                          \
                    8. split coefficient 1. open 2. high 3. low 4. close
date
2021-03-10                           NaN     NaN     NaN    NaN      NaN
2021-03-10 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-11                           NaN     NaN     NaN    NaN      NaN
2021-03-11 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-12                           NaN     NaN     NaN    NaN      NaN
2021-03-12 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-15                           NaN     NaN     NaN    NaN      NaN
2021-03-15 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-16                           NaN     NaN     NaN    NaN      NaN
2021-03-16 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-17                           NaN     NaN     NaN    NaN      NaN
2021-03-17 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-18                           NaN     NaN     NaN    NaN      NaN
2021-03-18 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-19                           NaN     NaN     NaN    NaN      NaN
2021-03-19 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-22                           NaN     NaN     NaN    NaN      NaN
2021-03-22 00:00:00                  NaN     NaN     NaN    NaN      NaN
2021-03-23                           NaN     NaN     NaN    NaN      NaN
2021-03-23 00:00:00                  NaN     NaN     NaN    NaN      NaN

                                                                    \
                    5. adjusted close 6. volume 7. dividend amount
date
2021-03-10                        NaN       NaN                NaN
2021-03-10 00:00:00               NaN       NaN                NaN
2021-03-11                        NaN       NaN                NaN
2021-03-11 00:00:00               NaN       NaN                NaN
2021-03-12                        NaN       NaN                NaN
2021-03-12 00:00:00               NaN       NaN                NaN
2021-03-15                        NaN       NaN                NaN
2021-03-15 00:00:00               NaN       NaN                NaN
2021-03-16                        NaN       NaN                NaN
2021-03-16 00:00:00               NaN       NaN                NaN
2021-03-17                        NaN       NaN                NaN
2021-03-17 00:00:00               NaN       NaN                NaN
2021-03-18                        NaN       NaN                NaN
2021-03-18 00:00:00               NaN       NaN                NaN
2021-03-19                        NaN       NaN                NaN
2021-03-19 00:00:00               NaN       NaN                NaN
2021-03-22                        NaN       NaN                NaN
2021-03-22 00:00:00               NaN       NaN                NaN
2021-03-23                        NaN       NaN                NaN
2021-03-23 00:00:00               NaN       NaN                NaN


                    8. split coefficient
date
2021-03-10                           NaN
2021-03-10 00:00:00                  NaN
2021-03-11                           NaN
2021-03-11 00:00:00                  NaN
2021-03-12                           NaN
2021-03-12 00:00:00                  NaN
2021-03-15                           NaN
2021-03-15 00:00:00                  NaN
2021-03-16                           NaN
2021-03-16 00:00:00                  NaN
2021-03-17                           NaN
2021-03-17 00:00:00                  NaN
2021-03-18                           NaN
2021-03-18 00:00:00                  NaN
2021-03-19                           NaN
2021-03-19 00:00:00                  NaN
2021-03-22                           NaN
2021-03-22 00:00:00                  NaN
2021-03-23                           NaN
2021-03-23 00:00:00                  NaN

[20 rows x 14536 columns]

In [97]:
ddf.TUYA

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
1999-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2021-03-22,24.71,25.00,21.140,23.19,23.19,5118109.0,0.0,1.0
2021-03-23,23.00,23.09,20.900,21.00,21.00,5339401.0,0.0,1.0
2021-03-24,21.00,21.27,18.510,19.28,19.28,6340735.0,0.0,1.0
2021-03-25,18.80,20.25,17.585,19.15,19.15,3407156.0,0.0,1.0
2021-03-26,20.00,24.65,19.110,24.64,24.64,3845253.0,0.0,1.0

In [96]:
d = ts.get_daily_adjusted('TUYA', outputsize='full')
d

(            1. open  2. high  3. low  4. close  5. adjusted close   6. volume  \
 date
 2021-03-26    20.00    24.65  19.110     24.64              24.64   3845253.0
 2021-03-25    18.80    20.25  17.585     19.15              19.15   3407156.0
 2021-03-24    21.00    21.27  18.510     19.28              19.28   6340735.0
 2021-03-23    23.00    23.09  20.900     21.00              21.00   5339401.0
 2021-03-22    24.71    25.00  21.140     23.19              23.19   5118109.0
 2021-03-19    25.30    25.86  24.680     25.12              25.12   4273511.0
 2021-03-18    27.00    27.65  23.980     25.00              25.00  27151740.0

             7. dividend amount  8. split coefficient
 date
 2021-03-26                 0.0                   1.0
 2021-03-25                 0.0                   1.0
 2021-03-24                 0.0                   1.0
 2021-03-23                 0.0                   1.0
 2021-03-22                 0.0                   1.0
 2021-03-19                 0.0                   1.0
 2021-03-18                 0.0                   1.0  ,
 {'1. Information': 'Daily Time Series with Splits and Dividend Events',
  '2. Symbol': 'TUYA',
  '3. Last Refreshed': '2021-03-26',
  '4. Output Size': 'Full size',
  '5. Time Zone': 'US/Eastern'})

In [101]:
d[0]

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2021-03-26,20.00,24.65,19.110,24.64,24.64,3845253.0,0.0,1.0
2021-03-25,18.80,20.25,17.585,19.15,19.15,3407156.0,0.0,1.0
2021-03-24,21.00,21.27,18.510,19.28,19.28,6340735.0,0.0,1.0
2021-03-23,23.00,23.09,20.900,21.00,21.00,5339401.0,0.0,1.0
2021-03-22,24.71,25.00,21.140,23.19,23.19,5118109.0,0.0,1.0
2021-03-19,25.30,25.86,24.680,25.12,25.12,4273511.0,0.0,1.0
2021-03-18,27.00,27.65,23.980,25.00,25.00,27151740.0,0.0,1.0