In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('data.csv', header=[0,1], index_col=0)
data.head()

                          A                                            \
                    1. open 2. high 3. low 4. close 5. adjusted close
date
1999-11-01 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-02 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-03 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-04 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-05 00:00:00     NaN     NaN    NaN      NaN               NaN

                                                                           AA  \
                    6. volume 7. dividend amount 8. split coefficient 1. open
date
1999-11-01 00:00:00       NaN                NaN                  NaN     NaN
1999-11-02 00:00:00       NaN                NaN                  NaN     NaN
1999-11-03 00:00:00       NaN                NaN                  NaN     NaN
1999-11-04 00:00:00       NaN                NaN                  NaN     NaN
1999-11-05 00:00:00       NaN                NaN                  NaN     NaN

                             ...                ZUO                       \
                    2. high  ... 7. dividend amount 8. split coefficient
date                         ...
1999-11-01 00:00:00     NaN  ...                NaN                  NaN
1999-11-02 00:00:00     NaN  ...                NaN                  NaN
1999-11-03 00:00:00     NaN  ...                NaN                  NaN
1999-11-04 00:00:00     NaN  ...                NaN                  NaN
1999-11-05 00:00:00     NaN  ...                NaN                  NaN

                       ZYME                                            \
                    1. open 2. high 3. low 4. close 5. adjusted close
date
1999-11-01 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-02 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-03 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-04 00:00:00     NaN     NaN    NaN      NaN               NaN
1999-11-05 00:00:00     NaN     NaN    NaN      NaN               NaN


                    6. volume 7. dividend amount 8. split coefficient
date
1999-11-01 00:00:00       NaN                NaN                  NaN
1999-11-02 00:00:00       NaN                NaN                  NaN
1999-11-03 00:00:00       NaN                NaN                  NaN
1999-11-04 00:00:00       NaN                NaN                  NaN
1999-11-05 00:00:00       NaN                NaN                  NaN

[5 rows x 20544 columns]

In [4]:
syms = list(set([x[0] for x in data.columns]))
syms.sort()
syms[-1]

'ZYME'

In [5]:
change_dict={}
for sym in syms:
    dates = {}
    for row in data[sym].iterrows():
        dates[row[0]] = row[1]['4. close'] - row[1]['1. open']
    change_dict[sym] = dates

In [6]:
change_df = pd.DataFrame(change_dict)
change_df.head()

,A,AA,AAIC,AAN,AAP,AAT,AB,ABB,ABBV,ABC,...,ZBH,ZEN,ZEPP,ZIM,ZNH,ZTO,ZTR,ZTS,ZUO,ZYME
1999-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
change_df.isna().sum()

A        5400
AA       9665
AAIC     5387
AAN     10689
AAP      5908
        ...
ZTO     10765
ZTR     10765
ZTS     10765
ZUO     10765
ZYME    10765
Length: 2568, dtype: int64

In [16]:
change_df.tail(20)

,A,AA,AAIC,AAN,AAP,AAT,AB,ABB,ABBV,ABC,...,ZBH,ZEN,ZEPP,ZIM,ZNH,ZTO,ZTR,ZTS,ZUO,ZYME
2021-02-24,2.76,2.100,0.25,1.08,-0.79,0.94,0.57,0.35,2.69,-0.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-25,-2.71,-1.920,-0.14,0.11,-5.86,-0.01,-0.10,-0.45,-1.15,-3.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-26,-0.86,0.350,0.06,-0.31,-2.01,-1.71,-0.11,-0.32,0.06,-1.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-01,1.43,0.320,-0.01,-0.24,0.53,0.17,0.06,0.03,-0.12,1.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-02,-0.93,1.300,0.06,-0.51,1.71,0.58,0.13,-0.05,-1.00,1.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-03,-3.48,1.930,-0.07,0.12,1.64,1.38,0.07,-0.20,-0.15,-0.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-04,-3.70,-1.125,0.03,0.94,-0.35,-0.13,-1.56,-0.54,-0.85,0.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-05,0.26,-0.240,0.05,0.52,4.47,0.32,0.40,0.27,0.69,1.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-08,-0.23,-1.180,0.21,0.76,3.98,1.57,-0.08,0.07,-0.74,1.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-09,1.97,0.950,-0.12,-0.24,-4.96,-0.80,-0.18,0.25,0.31,2.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-10,-0.60,1.640,0.01,-0.17,2.35,-0.46,0.93,0.17,0.61,1.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-11,0.41,-0.140,0.06,0.09,-2.70,-0.13,0.02,0.06,-0.26,-0.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-12,0.87,-0.380,-0.04,0.81,5.44,0.62,-0.68,0.26,0.42,2.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-15,3.12,-0.410,-0.03,1.02,2.63,0.33,-0.07,0.37,1.59,0.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-16,-1.75,-1.230,-0.21,0.39,-3.48,-1.06,-0.45,-0.13,0.89,-0.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-17,0.18,1.640,0.14,-0.18,1.19,0.77,1.03,0.29,1.28,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-18,-1.01,-0.470,-0.10,-0.44,2.59,-0.33,0.99,-0.26,-0.23,1.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-19,-0.18,0.010,-0.04,-0.14,3.95,-1.23,0.70,0.48,-0.51,0.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
change_df.to_csv('change.csv')

In [7]:
percent_change_dict={}
for sym in syms:
    dates = {}
    for row in data[sym].iterrows():
        dates[row[0]] = 100 * (row[1]['4. close'] - row[1]['1. open'])/row[1]['1. open']
    percent_change_dict[sym] = dates

In [8]:
percent_change_df = pd.DataFrame(percent_change_dict)
percent_change_df.head()

,A,AA,AAIC,AAN,AAP,AAT,AB,ABB,ABBV,ABC,...,ZBH,ZEN,ZEPP,ZIM,ZNH,ZTO,ZTR,ZTS,ZUO,ZYME
1999-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
percent_change_df.to_csv('percent_change.csv')

In [25]:
range_dict={}
for sym in syms:
    dates = {}
    for row in data[sym].iterrows():
        dates[row[0]] = row[1]['2. high'] - row[1]['3. low']
    range_dict[sym] = dates
range_df = pd.DataFrame(range_dict)
range_df.to_csv('range.csv')
range_df.head()

,A,AA,AAIC,AAN,AAP,AAT,AB,ABB,ABBV,ABC,...,K,KAI,KAMN,KAR,KB,KBH,KBR,KEN,KEP,KEX
1999-11-01,NaN,NaN,0.32,NaN,NaN,NaN,1.75,NaN,NaN,1.69,...,2.06,0.31,1.19,NaN,NaN,1.00,NaN,NaN,0.57,0.38
1999-11-02,NaN,NaN,0.38,NaN,NaN,NaN,5.37,NaN,NaN,0.69,...,1.00,0.18,0.44,NaN,NaN,1.25,NaN,NaN,0.75,0.37
1999-11-03,NaN,NaN,0.19,NaN,NaN,NaN,1.75,NaN,NaN,2.25,...,0.87,0.19,0.69,NaN,NaN,0.44,NaN,NaN,0.69,0.06
1999-11-04,NaN,NaN,0.19,NaN,NaN,NaN,1.44,NaN,NaN,0.44,...,1.57,0.12,0.44,NaN,NaN,0.44,NaN,NaN,0.69,0.68
1999-11-05,NaN,NaN,0.37,NaN,NaN,NaN,0.56,NaN,NaN,0.69,...,1.25,0.31,0.66,NaN,NaN,1.63,NaN,NaN,0.44,0.38

In [14]:
2+2

4